$highlightColour: #b03470;
$headerWidth: 300px;
$headerHeight: 60px;

header {
	background-color: $highlightColour;
	z-index: 9999;
	box-sizing: border-box;
    height: $headerHeight;
}

.lavender-text {
    h1 {
        margin: 0;
        padding: 0 0 0 20px;
    }

    a {
        background-image: url('/images/lavender-room-logo-x2.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 226px;
        height: 50px;
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
    }
}

@media (max-width: 991px) {
    .top-bar {
        display: flex;
        flex-direction: row;
        height: 60px;
        font-family: 'Roboto Condensed',sans-serif;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
    }

    .lavender-text {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .nav-toggle {
        flex: 0 60px;
        background-color: $highlightColour;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 0 10px;
    }

    .icon-bar {
        display: block;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        margin: 6px 0;
        box-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        border-radius: 0 20px 0 0;
        padding: 10px;
    }

    .nav-toggle {
        display: none;
    }
}