@media (min-width: 992px) {
    .page-container {
      display: -ms-grid;
      display: grid;

      -ms-grid-columns: 300px 1fr;
      -ms-grid-rows: 60px 1fr auto auto;
      grid-template-columns: 300px auto;
      grid-template-rows: 60px 1fr auto auto;
    //   height: 100vh;
      min-height: 100vh;
    }

    .header {
      display: block;
    }

    .navigation {
      -ms-grid-row: 2;
      /* grid-column: 1; */
      grid-row: 2;
    }

    .times {
      -ms-grid-row: 3;
      grid-row: 3;
    }

    .content {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 3;

        grid-column: 2 / span 1;
        grid-row: 2 / span 3;

    }

    .footer {
      -ms-grid-column: 1;
      -ms-grid-row: 4;
      grid-column: 1;
      grid-row: 4;
    }
}

@media (max-width: 767px) {
    .mobile-background {
        position: relative;
        top: -50px;
        color: #111;
        background-color: #fff;
        margin: 0px 20px -29px 20px;
        padding: 20px;
        box-shadow: 0 6px 5px #888;
        border-top: 18px solid #b03470;
    }

    .img {
        display: block;
        max-width: 100%;
        min-height: 100px;
        height: auto;
    }

    .hero {
        position: relative;

        &::before {
            content: '';
            display: block;
            height: 10px;
            width: 100%;
            top: -10px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
            position: absolute;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-section {
        padding: 40px;
    }
}

@media (min-width: 992px) {
    .main-section {
        padding: 0 40px 0 40px;
    }
}

@media (min-width: 768px) {
    .hero {
        display: none;
    }

    .well {
        background-color: rgba(0,0,0,.7);
        padding: 20px;
        border-radius: 0 20px 0 0;
        margin: 20px;
    }
}

h2 {
    margin-top: 0;
}

h2 {
    &::after {
        content: '';
        display: block;
        height: 3px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        background-color: #b03470;
    }
}

strong {
    color: #b03470;
}

a {
    color: #b03470;
}

input[type=email], input[type=tel], input[type=text], textarea {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    box-sizing: border-box;
    padding: 4px 6px;
    font-size: 14px;
}

input[type=submit] {
    width: 100%;
    margin-top: 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #b03470;
    background-image: linear-gradient(to bottom,#b03470,#7b244e);
    background-repeat: repeat-x;
    border: none;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) #b3b3b3;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 1.2em;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

@media (max-width: 991px) {
    input[type=submit] {
        height: 40px;
    }
}