@media (max-width: 991px) {
    .times__inner {
        width: 100%;
        color: #f9eaf1;
        border-collapse: collapse;
        background-color: #b03470;
    }

    tr {
        border-top: 1px solid #e29bbd;
    }

    td {
        padding: 10px 20px;
        width: 50%;
    }

    .today {
        color: #fff;
        font-weight: 700;
        background-color: #c43a7d;
    }
}

@media (min-width: 992px) {
    .times {
        padding: 30px 20px;
        background-color: rgba(0,0,0,.5);

        table {
            box-sizing: border-box;
            width: 100%;
            border-collapse: collapse;
            border-bottom: 1px solid #fff;
            text-shadow: 1px 1px 1px #000;

            td {
                border-top: 1px solid #fff;
            }
        }
    }

    .today {
        background-color: rgba(255,255,255,.2);
    }
}